/Java/bin
/Java/.idea
/Java/.settings
/Java/build
/Java/.gradle
/Java/classes
/Java/.project
/Java/.classpath
.idea/workspace.xml
DotNet/WebDriverExtended/bin/Debug/
DotNet/WebDriverExtended/packages/Selenium.Support.2.52.0/Selenium.Support.2.52.0.nupkg
DotNet/WebDriverExtended/packages/Selenium.Support.2.52.0/
DotNet/WebDriverExtended/packages/Selenium.WebDriver.2.52.0/
DotNet/WebDriverExtended/obj/Debug/
DotNet/bin/Debug/WebDriver.Support.xml
DotNet/bin/Debug/WebDriver.xml
DotNet/obj/Debug/
DotNet/packages/Selenium.Support.2.52.0/
DotNet/packages/Selenium.WebDriver.2.52.0/
DotNet/packages/NUnit.3.0.1/
WDEExmple/bin/Debug/
WDEExmple/obj/
*.nupkg
DotNet/bin/Release/
DotNet/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DotNet/obj/Release/
WDEExmple/bin/Release/
